body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #353535;
}

main {
  height: 100vh;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #000;
}
