.wrapper {
  box-sizing: border-box;
  height: 100%;
  background: url(../public/images/B5background.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 2000px auto;
}
.section {
  align-items: center;
  backdrop-filter: blur(10px);
  color: #fff;
  display: flex;
  height: fit-content;
  left: 20px;
  padding: 10px;
  position: absolute;
  top: 150px;
  width: 40%;
}
.section h2 {
  margin: 0px;
}
.aside {
  color: #fff;
  position: absolute;
  bottom: 200px;
  right: 10px;
  width: 40%;
  display: flex;
  backdrop-filter: blur(10px);
  padding: 20px 10px 20px 10px;
  justify-content: center;
}

.a {
  color: #fff;
}

.a:visited {
  color: #fff;
}

.decoLeft1 {
  width: 100px;
  height: 3px;
  background: #12a7f7;
  position: absolute;
  bottom: -5px;
  left: -2px;
}
.decoLeft2 {
  width: 3px;
  height: 100px;
  background: #12a7f7;
  position: absolute;
  left: -5px;
  bottom: -5px;
}
.decoRight1 {
  width: 100px;
  height: 3px;
  background: #12a7f7;
  position: absolute;
  top: -5px;
  right: -2px;
}
.decoRight2 {
  width: 3px;
  height: 100px;
  background: #1796e7;
  position: absolute;
  right: -5px;
  top: -5px;
}

@media screen and (max-width: 500px) {
  .section {
    top: 100px;
  }
  .section h2 {
    font-size: 14px;
  }
  .aside {
    bottom: 50px;
    right: 10px;
    width: 30%;
  }
}
